@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Staatliches&display=swap');
.title-light{
    font-family: 'Black Ops One', cursive !important;
    font-size: 3em !important;
    
}
.title-dark{
    font-family: 'Black Ops One', cursive !important;
    font-size: 3em !important;
    color: #b1b1ae!important;
}

.theme-label-light{
    color: #585c54 !important;
}
.theme-label-darktheme{
    color: #84e225 !important;
}